@import "../../App.scss";

.sidebarWrapper{
    height: 100vh;
    width: 120px;
    background: $sidebarBg;
    
    .center{
        text-align: center;
        margin: auto;
    }

    .MuiIconButton-root{
        width: 100%;
        display: block;
        border-radius: 0;
        padding: 20px 0;
        margin: 5px 0;
        p{
            font-size: 1rem;
            margin: 0;
        }
    }

    .nav{
        background-color: transparent !important;
    }
}

