.headerInputs{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actionsBtn{
    padding: 1px 5px !important;
    margin-left: 5px !important;
}

.ag-cell {
    align-items: center;
    display: flex;
}

.employeeCell{
    align-items: center;
    display: flex;

    .icon{
        margin-left: 10px;
    }
}